.menuitem {
    display: inline;
    font-family: monospace;
    font-size: 2em;
    background-color: lightcoral;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 5px;
    margin-right: 7px;

    transition-property: border-bottom;
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.menuitem:hover {
    border-bottom: 2px blue solid;
}